<div class="header">
    <img src="assets/img/covers/profile-cover-1.jpg" class="header-img-top" alt="...">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xl-8">

        <!-- Card -->
        <div class="card">
            <div class="card-body">

                <!-- Header -->
                <div class="mb-3">
                    <div class="row align-items-center">
                    <div class="col-auto">

                        <!-- Avatar -->
                        <a href="#!" class="avatar">
                            <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                        </a>

                    </div>
                    <div class="col ms-n2">

                        <!-- Title -->
                        <h4 class="mb-1">
                        Dianna Smiley
                        </h4>

                    </div>
                    <div class="col-auto">

                        <div class="dropdown">
                        <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#!" class="dropdown-item">
                            Action
                            </a>
                            <a href="#!" class="dropdown-item">
                            Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                            Something else here
                            </a>
                        </div>
                        </div>

                    </div>
                    </div> <!-- / .row -->
                </div>
            <!-- Image -->
                <p class="mb-3">
                  I've been working on shipping the latest version of Launchday. The story I'm trying to focus on is something like "You're launching soon and need to be 100% focused on your product. Don't lose precious days designing, coding, and testing a product site. Instead, build one in minutes."
                </p>

                <!-- Text -->
                <p class="mb-4">
                  What do you y'all think? Would love some feedback from <a href="#!" class="badge text-bg-primary-subtle">@Ab</a> or <a href="#!" class="badge text-bg-primary-subtle">@Adolfo</a>?
                </p>
                <p class="text-center mb-3">
                    <img src="assets/img/posts/post-1.jpg" alt="..." class="img-fluid rounded">
                </p>
                <hr>
            </div>
        </div>

        </div>
        <div class="col-12 col-xl-4">

        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <!-- List group -->
                <div class="list-group list-group-flush my-n3">
                    <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">

                        <!-- Title -->
                        <h5 class="mb-0">
                            Category
                        </h5>

                        </div>
                        <div class="col-auto">
        
                        <!-- Time -->
                            <h4 class="small text-body-secondary">
                                .....
                            </h4>

                        </div>
                    </div> <!-- / .row -->
                    </div>
                    <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">

                        <!-- Title -->
                        <h5 class="mb-0">
                            Brand
                        </h5>

                        </div>
                        <div class="col-auto">

                            <!-- Time -->
                            <h4 class="small text-body-secondary" datetime="2018-10-28">
                                
                            </h4>

                        </div>
                    </div> <!-- / .row -->
                    </div>
                    <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">

                        <!-- Title -->
                        <h5 class="mb-0">
                            Price
                        </h5>

                        </div>
                        <div class="col-auto">

                        <!-- Text -->
                        <small class="text-body-secondary">
                            500 €
                        </small>

                        </div>
                    </div> <!-- / .row -->
                    </div>
                    <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">

                        <!-- Title -->
                        <h5 class="mb-0">
                            Website
                        </h5>

                        </div>
                        <div class="col-auto">

                        <!-- Link -->
                        <a href="#!" class="small">
                            themes.getbootstrap.com
                        </a>

                        </div>
                    </div> <!-- / .row -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Weekly Hours -->
        <!-- <div class="card">
            <div class="card-header">

            <h4 class="card-header-title">
                Weekly Hours
            </h4>

            </div>
            <div class="card-body">

            <div class="chart chart-sm">
                <canvas id="weeklyHoursChart" class="chart-canvas"></canvas>
            </div>

            </div>
        </div> -->

        </div>
    </div> <!-- / .row -->
</div>